<h2 mat-dialog-title> {{ data.title }} </h2>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{ loadingProviders ? 'Loading providers...' : 'Providers' }}</mat-label>
      <mat-select id="provider" formControlName="provider" required [disabled]="this.availableProviders.length === 0">
        <mat-option *ngFor="let provider of availableProviders" [value]="provider">{{ provider.name }}</mat-option>
        <mat-option *ngIf="!loadingProviders && this.availableProviders.length === 0" [value]="'no-devices'">No providers available</mat-option>
      </mat-select>
      <mat-spinner matPrefix *ngIf="loadingProviders" mode="indeterminate" diameter="17"></mat-spinner>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Docker-Image</mat-label>
      <input matInput id="dockerImage" formControlName="dockerImage" placeholder="Name of a tagged docker image that is deployed on docker hub">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Notification-Address</mat-label>
      <input matInput id="notificationAddress" formControlName="notificationAddress" placeholder="Name of a queue">
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Qiskit-File (.py)</mat-label>
      <ngx-mat-file-input id="file" formControlName="file" accept=".py"></ngx-mat-file-input>
    </mat-form-field>
  </form>
</div>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button color="primary" [disabled]="isRequiredDataMissing()" [mat-dialog-close]="data">Create
  </button>
</mat-dialog-actions>
